In [6]:
#Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = 
#[1980, 1981, 1982, 1983, 1984, 1985].

Birth_year= int(input('Enter your year of birth: '))
years_list = [i for i in range(Birth_year, Birth_year+6)]
years_list

Enter your year of birth: 1990

[1990, 1991, 1992, 1993, 1994, 1995]

In [7]:
#In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
years_list[3]

1993

In [8]:
#3.In the years list, which year were you the oldest?
years_list[0]

1990

In [10]:
#Make a list called things with these three strings as elements: 'mozzarella', 'cinderella', 'salmonella'.
things= ['mozzarella', 'cinderella', 'salmonella']

things

['mozzarella', 'cinderella', 'salmonella']

In [15]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

person = [i.upper() for i in things]
person

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [21]:
#Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;
surprise= ["Groucho","Chico","Harpo"]

In [30]:
#Lowercase the last element of the surprise list, reverse it, and then capitalize it.

spL= surprise[-1].lower()
spL= spL[-1::-1].upper()
spL

'OPRAH'

In [48]:
#Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
e2f={
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [49]:
#Write the French word for walrus in your three-word dictionary e2f.
e2f['walrus']

'morse'

In [51]:
#Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e={}
for i in e2f.items():
    f2e[i[1]] = i[0]
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [52]:
#Print the English version of the French word chien using f2e.
f2e['chien']

'dog'

In [61]:
#Make and print a set of English words from the keys in e2f.
st=set()
for i in e2f.keys():
    st.add(i)
print(st)

{'dog', 'walrus', 'cat'}

In [65]:
#Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants',
#and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and
#'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
#Make all the other keys refer to empty dictionaries.

life={
     'animals':{ 
         'cats': ['Henri', 'Grumpy','Lucy'],
         'octopi':{},
         'emus': {}
         } ,
     'plants':{},
     'other':{}
}
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']

In [66]:
#Print the top-level keys of life.

for i in life.keys():
    print(i)

animals
plants
other

In [71]:
#Print the keys for life['animals'].
if type(life['animals'])==dict:
    for i in life['animals'].keys():
        print(i)

cats
octopi
emus

In [72]:
#Print the values for life['animals']['cats']
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']