In [2]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\avinash sindwani\anaconda3\lib\site-packages (3.25.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\avinash sindwani\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in c:\users\avinash sindwani\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in c:\users\avinash sindwani\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [1]:
import cassandra
print(cassandra.__version__)

3.25.0

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("select release_version from system.local").one()

if row:
    print(row[0])
else:
    print("An error occured.")

4.0.0.6813

In [33]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("SELECT * FROM system_schema.keyspaces;").all()

for i in row:
    if i:
        print(i[0])
    else:
        print("An error occured.")

data_endpoint_auth
datastax_sla
Avinash
system_auth
system_schema
ineuron
system
system_traces

In [82]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute('create table "Test1".Test6(Emp_id int primary key,Emp_name text, salary int);')

if row:
    print(row[0])
else:
    print("An error occured.")

An error occured.

In [83]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,salary) values(1,'Avinash',400)").one()

#row = session.execute("insert into ineuron.student (id,class,marks) values(3,'CSE',150)").one()

if row:
    print(row[0])
else:
    print("An error occured.")

An error occured.

In [85]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("select * from \"Test1\".Test6").all()

if row:
    print(row[0])
else:
    print("An error occured.")

Row(emp_id=1, emp_name='Avinash', salary=400)

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("select count(*) from \"Test1\".Test6").all()

if row:
    print(row[0])
else:
    print("An error occured.")

Row(count=1)

In [7]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("alter table \"Test1\".Test6 add lst_nam text")

if row:
    print(row[0])
else:
    print("An error occured.")

An error occured.

In [10]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("select * from \"Test1\".Test6").all()

if row:
    print(row)
else:
    print("An error occured.")

[Row(emp_id=1, emp_name='Avinash', lst_nam=None, salary=400)]

In [11]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(20,'Avi',400,'Sindwani')  ").all()

if row:
    print(row)
else:
    print("An error occured.")

An error occured.

In [12]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("Select * from \"Test1\".Test6").all()

if row:
    print(row)
else:
    print("An error occured.")

[Row(emp_id=1, emp_name='Avinash', lst_nam=None, salary=400), Row(emp_id=20, emp_name='Avi', lst_nam='Sindwani', salary=400)]

In [14]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(21,'Avi1',400,'Sindwani')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(22,'Avi2',500,'Sindwani1')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(23,'Avi3',600,'Sindwani2')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(24,'Avi4',700,'Sindwani3')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(25,'Avi5',800,'Sindwani4')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(26,'Avi6',900,'Sindwani5')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(27,'Avi7',1000,'Sindwani6')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(28,'Avi8',1100,'Sindwani7')  ").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam) values(29,'Avi9',1200,'Sindwani8')  ").all()

if row:
    print(row)
else:
    print("An error occured.")

An error occured.

In [17]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row4= session.execute("select min(Salary) from \"Test1\".Test6").all()
if row4:
    print(row4)
else:
    print("An error occured.")

[Row(system_min_salary=400)]

In [18]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row4= session.execute("select max(Salary) from \"Test1\".Test6").all()
if row4:
    print(row4)
else:
    print("An error occured.")

[Row(system_max_salary=1200)]

In [19]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row = session.execute("Alter table \"Test1\".Test6 add p_score int").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(21,'Avi1',400,'Sindwani',10)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(22,'Avi2',500,'Sindwani1',20)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(23,'Avi3',600,'Sindwani2',30)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(24,'Avi4',700,'Sindwani3',40)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(25,'Avi5',800,'Sindwani4',45)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(26,'Avi6',900,'Sindwani5',50)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(27,'Avi7',1000,'Sindwani6',55)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(28,'Avi8',1100,'Sindwani7',60)").all()
row = session.execute("insert into \"Test1\".Test6 (Emp_id,Emp_name,Salary,lst_nam,p_score) values(29,'Avi9',1200,'Sindwani8',65)").all()

if row:
    print(row)
else:
    print("An error occured.")

An error occured.

In [27]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-test.zip'
}

auth_provider = PlainTextAuthProvider('IvbRMXOzokfgBOBvZNufdckM','eEbT+rLK+icCt9nnELQyDprdSLb60KoMmNK42oFw7RrQQx0jkfWw3cqH85NpRZUxCvPk+LmetAXNQG0x9fZ1Caj9Q0qkrXqXuZAOzMBKP2pP-r.dyzkrQomNvTFKSKxp')
cluster= Cluster(cloud=cloud_config, auth_provider= auth_provider) 
session= cluster.connect()

row1 = session.execute("select * from \"Test1\".Test6").all()
row2 = session.execute("select sum(p_score) from \"Test1\".Test6").all()

if row1 and row2:
    print(row1)
    print(row2)
else:
    print("An error occured.")
'''
token@cqlsh> select * from "Test1".Test6;

 emp_id | emp_name | lst_nam   | p_score | salary
--------+----------+-----------+---------+--------
     23 |     Avi3 | Sindwani2 |      30 |    600
     28 |     Avi8 | Sindwani7 |      60 |   1100
      1 |  Avinash |      null |    null |    400
     22 |     Avi2 | Sindwani1 |      20 |    500
     27 |     Avi7 | Sindwani6 |      55 |   1000
     20 |      Avi |  Sindwani |    null |    400
     29 |     Avi9 | Sindwani8 |      65 |   1200
     26 |     Avi6 | Sindwani5 |      50 |    900
     21 |     Avi1 |  Sindwani |      10 |    400
     24 |     Avi4 | Sindwani3 |      40 |    700
     25 |     Avi5 | Sindwani4 |      45 |    800
'''

[Row(emp_id=23, emp_name='Avi3', lst_nam='Sindwani2', p_score=30, salary=600), Row(emp_id=28, emp_name='Avi8', lst_nam='Sindwani7', p_score=60, salary=1100), Row(emp_id=1, emp_name='Avinash', lst_nam=None, p_score=None, salary=400), Row(emp_id=22, emp_name='Avi2', lst_nam='Sindwani1', p_score=20, salary=500), Row(emp_id=27, emp_name='Avi7', lst_nam='Sindwani6', p_score=55, salary=1000), Row(emp_id=20, emp_name='Avi', lst_nam='Sindwani', p_score=None, salary=400), Row(emp_id=29, emp_name='Avi9', lst_nam='Sindwani8', p_score=65, salary=1200), Row(emp_id=26, emp_name='Avi6', lst_nam='Sindwani5', p_score=50, salary=900), Row(emp_id=21, emp_name='Avi1', lst_nam='Sindwani', p_score=10, salary=400), Row(emp_id=24, emp_name='Avi4', lst_nam='Sindwani3', p_score=40, salary=700), Row(emp_id=25, emp_name='Avi5', lst_nam='Sindwani4', p_score=45, salary=800)]
[Row(system_sum_p_score=375)]